<hello name="{{ name }}"></hello>



<div *ngFor="let item of list| paginate : {
                itemsPerPage: movieSize,
                currentPage: page,
                totalItems: count}" style="display: inline-block">
  <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{item.poster_path}}" alt="">
</div>
<div class="d-flex justify-content-center">
  <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onMovieDataChange($event)">
  </pagination-controls>
</div>